/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 18, 2022, 7:09:38 PM
    Author     : elena
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Mono', monospace;
}

.block{
    position: relative;
    font-size: 40px;
    left: 300px;
    background-color: antiquewhite;
    width: 800px;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}

.test{
    font-size: 25px;
    font-weight: 100;
    position: relative;
    width: 35em;
    word-wrap: break-word;
    left: 10px;
    top: 50px
}